<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Clone</title>
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/pvPzJxS/682665-favicon-google-logo-new-icon.png">

  <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
</head>
<body>

  <nav>
    <button class="signup">Login</button>
    <a href="https://mail.google.com/mail/">Gmail</a>
  </nav>

  <header style="padding: 10px;">
    <img src="https://i.pinimg.com/736x/fc/04/4e/fc044e5ef237aedc860446158a7e7471.jpg" width="200px">
  </header>

  <article>
    <section class="searchSct"
    style="display: flex; justify-content: center; padding-bottom: 20px;">
      <input
      style="padding: 10px; border-radius: 20px; border: 1px solid grey; outline: none;" 
      type="search" placeholder="How'd you like to begin your jounrey?" id="searchInput">
    </section>
    <section class="links"
    style="display: flex; justify-content: center;">
      <section class="buttons">
        <input type="button" value="Search on Google" id="searchBtn" onclick="search()" class="button">
        <button class="button">I'm Feeling Lucky !</button>
        <p 
        style="text-align: center; padding: 5px;">Google offered in:    : 
        <a href="https://www.google.com/setprefs?sig=0_9n25fkkIkSxKLX_NFTDBzX9k96s%3D&hl=ur&source=homepage&sa=X&ved=0ahUKEwjAzI_i87b1AhUPlRQKHf-qAa8Q2ZgBCBE"> اردو  </a>
   
        </p>
      </section>
    </section>
  </article>

  <!--thats the simplest js ever-->
  <script>
    function search() {
      var s = document.getElementById("searchInput").value

      if (s == "") {
        window.open("")
      } else {
        window.open("https://www.google.com/search?q="+ s);
      }  
    }
  </script>
<br>
<br>
<br>
<br>
<br>
<div id="footer">
   Copyright 2021 All Rights Reserved
        <a href="https://github.com/fasih4444">fasih4444</a>

</div>



</body>
</html>